@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: none;
}

@media only screen and (max-width:1162px){
  body{
    display: block;
    padding-bottom: 7.5vh;
    padding-top: 7vh;
    background:#444343;
  }
}

::-webkit-scrollbar{
  display: none;
}