.navbar{
    width: 100%;
    height: 7vh;
    background-color: black;
    position: fixed;
    z-index: 1;
    bottom:0;
    left: 0;
    overflow: hidden;
    .list-bg{
        display: flex;
        width: 100%;
        height:100%;
        justify-content: space-around;
        align-items: center;
        .list-comp{
                color:white;
                font-size:22px;
                list-style:none;
            }
        .list-comp:hover{
            color: #828282;
        }
        .list-comp:last-child{
            display: flex;
            flex: none;
            justify-content: center;
            align-items: center;
            img{
                width: 30px;
                height:30px;
                border-radius: 50%;
                margin: 2px auto;
                border: 2px solid rgba($color: grey, $alpha: .7);
            }
        }
    }
}